* text=auto

*.cpp text
*.h text
*.hpp text
*.c text
*.cmake text
*.txt text
*.md text
*.res text
*.rbn text
*.ps1 text eol=crlf
*.py text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.dll binary
*.pdb binary
*.lib binary
*.docx binary
*.xlsx binary
